<a href="https://colab.research.google.com/github/yashrathi067/DBDA_56/blob/main/pythonoop1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Employee:
    company_name="Myntra" #class variable
    def __init__(self):  #instance method
        self.name=input("Enter your name:")  #instance variable
        self.dept=input("Enter your department:") #instance variable
        self.manager=input("Enter your manager:") #instance variable
    def display(self): #instance method
        print(self.name,self.dept,self.manager)
    @classmethod
    def comname(cls):  #class method
        print(cls.company_name)
    @staticmethod
    def display_compname_static(): #static method
        print(Employee.company_name)

e1=Employee()  # object of class employee
e1.display()

Enter your name:yash
Enter your department:85
Enter your manager:hyyy
yash 85 hyyy

In [ ]:
dir(Employee)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'comname',
 'company_name',
 'display',
 'display_compname_static']

In [ ]:
st2=Employee ()

Enter your name:akshay
Enter your department:10
Enter your manager:manish

In [ ]:
class Employee:
    def __init__(self,empid,name,designation,salary,
                 project_ids_assigned,skills):
        self.empid = empid
        self.name = name
        self.designation = designation
        self.__salary = salary
        self.project_ids_assigned = project_ids_assigned
        self.skills =skills
        Employee.company_name="Myntra"
    def display_identity(self):
        print(self.empid,self.name,self.designation,self.company_name,self.salary)
    def display_projectid(self):
        print(self.project_ids_assigned)


e1=Employee(10,"yash","mgr",100000,{1,2,3},["c",'python'])
e1.display_identity()
e1.display_projectid()

AttributeError: 'Employee' object has no attribute 'salary'

In [ ]:
class temp:
  def method1(self):
    print("method1  1 time")
  def method1(self,v1,v2):
    print("method1 2nd time")

In [ ]:
e1.__Employee__salary

AttributeError: 'Employee' object has no attribute '__Employee__salary'

In [ ]:
class parent:

  def __init__(self):
    self.name1="yash"
    self.name2="akshay"
    parent.class_var="ABCD"

  def display(self):
    print(self.name1,self.name2,self.class_var)

In [ ]:
class child(parent):
  pass

In [ ]:
c1=child()

In [ ]:
c1.display()

yash akshay ABCD

In [1]:
class name:
  def __init__(self,name_value):
    self.name_value=name_value

  def __sub__(self,other):
    temp_name_value=self.name_value+ "-"+other.name_value
    return name(temp_name_value)
  def __mul__(self,other):
    temp_name_value=self.name_value

In [2]:
first_name=name('suraj')
last_name=name('raj')
final_name=first_name-last_name

In [3]:
print(final_name.name_value)

suraj-raj

**Employees class and methods define**

In [26]:
class employees:
  """This is an employee class!!!"""
  def __init__(self,empid,name,designation,salary,project_ids_assigned,skills):
    self.empid=empid
    self.name=name
    self.designation=designation
    self.__salary=salary
    self.project_ids_assigned=project_ids_assigned
    self.skills=skills
    employees.company_name='Amdocs'
  def display_identities(self):
    print(self.empid,self.name,self.designation,self.company_name)
  def display_projectid(self):
    print(self.project_ids_assigned)
  def display_skills(self):
    print(self.skills)
  def display_companydetails(cls):
    print(employees.company_name)

In [12]:
e1=employees(111,"yash","sme",50000,{1,2,3},["linux","python","mysql"])

In [13]:
e1.display_identities()
e1.display_projectid()
e1.display_skills()
e1.display_companydetails()

111 yash sme Amdocs
{1, 2, 3}
['linux', 'python', 'mysql']
Amdocs

In [11]:
e2=employees(222,"ajay","hr",650000,{4,5,6},["linux","mysql","java"])
e3=employees(333,"rahul","clerk",40000,{10,20,30},["linux","python","mysql","accounts"])
e4=employees(444,"vijay","analyst",80000,{2,4,5},["linux","python","mysql","mongodb","tableau"])

444 vijay analyst Amdocs
{2, 4, 5}
['linux', 'python', 'mysql', 'mongodb', 'tableau']
Amdocs

In [14]:
e2.display_identities()
e2.display_projectid()
e2.display_skills()
e2.display_companydetails()

222 ajay hr Amdocs
{4, 5, 6}
['linux', 'mysql', 'java']
Amdocs

In [15]:
e3.display_identities()
e3.display_projectid()
e3.display_skills()
e3.display_companydetails()
e4.display_identities()
e4.display_projectid()
e4.display_skills()
e4.display_companydetails()

333 rahul clerk Amdocs
{10, 20, 30}
['linux', 'python', 'mysql', 'accounts']
Amdocs
444 vijay analyst Amdocs
{2, 4, 5}
['linux', 'python', 'mysql', 'mongodb', 'tableau']
Amdocs

In [17]:
e1.display_identities()
e2.display_identities()
e3.display_identities()
e4.display_identities()

111 yash sme Amdocs
222 ajay hr Amdocs
333 rahul clerk Amdocs
444 vijay analyst Amdocs

In [18]:
e1.display_projectid()
e2.display_projectid()
e3.display_projectid()
e4.display_projectid()

{1, 2, 3}
{4, 5, 6}
{10, 20, 30}
{2, 4, 5}

In [23]:

employees_list = [e1, e2, e3, e4]

print("Employees with skill 'Python':")
for employees in employees_list:
    if "python" in employees.skills:
        print(employees.empid, employees.name)

Employees with skill 'Python':
111 yash
333 rahul
444 vijay

In [24]:
e1.__salary

AttributeError: 'employees' object has no attribute '__salary'

In [27]:
employees.__doc__

'This is an employee class!!!'

In [25]:
e1._employees__salary

50000

**Operator Overriding**

In [57]:
class names:
  def __init__(self,name_val):
    self.name_val=name_val
  def __add__(self,other):
    temp_name=self.name_val+ " "+ other.name_val
    return names(temp_name)
  def __sub__(self,other):
    temp_name=self.name_val+"-"+other.name_val
    return names(temp_name)
  def __mod__(self,other):
    mv=self.name_val % other.name_val
    return names(mv)
  def __mul__(self,other):
    m=(self.name_val+ " ") * other.name_val
    return names(m)

In [58]:
first_name=names("yash")
last_name=names(5)
mv=first_name * last_name
print(mv.name_val)

yash yash yash yash yash

**Str vs repr**

In [61]:
class Car:
  def __init__(self,modelno,company,car_type):
    self.modelno=modelno
    self.company=company
    self.car_type=car_type
  def __str__(self):
    return "Car details are="+str(self.modelno)+" company="+self.company+" car_type="+self.car_type

In [62]:
c1=Car(120,'bmw','suv')
c2=Car(111,'porche','suv')
print(c1)

Car details are=120 company=bmw car_type=suv